// Insert your styling here.

.brilliant_pr_profile_line {
  border-bottom: 1px solid #e2e2e2;
  color: @gray-light;
  font-size: 19px;
  font-weight: bold;
}



.brilliant_pr_profile_line span {
  color: #ADADAD;
  display: inline-block;
  font-size: 19px;
  line-height: 40px;
  width: 250px;
  font-weight: normal;
}

.table-responsive {
  h3 {
    float:left;
    color: @gray-light;
  }
}

h3 {
  display:none;
}
