.page-header {
  display:none;
}

.navbar.container {
  max-width: 1169px;
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
  border-left: 0;
  border-top:0;
  border-right: 0;
  border-radius: 0;
}

